html {
  font-family: "Averia Serif Libre", serif;
  font-weight: 300;
  font-style: normal;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

@supports (height: 100dvh) {
  main {
    height: 100dvh;
  }
}

h1 {
  font-size: 50px;
  cursor: default;
  margin-bottom: 30px;
}

h1:hover .highlight {
  color: black;
}

h1:hover .highlight::after {
  width: 0;
}

.highlight {
  position: relative;
  color: white;
  transition: color .3s;
}

.highlight::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: black;
  transition: width .3s;
  z-index: -1;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

ul > li {
  margin: 0 4px;
}

ul > li > a {
  text-decoration: none;
  color: black;
  padding: 10px;
}

ul > li > a:hover svg {
  transform: scale(1.2);
  opacity: 1;
}

ul > li > a > svg {
  width: 30px;
  height: 30px;
  fill: black;
  transition: transform .3s, opacity .3s;
  opacity: 0.1;
}
